<div
    class="flex flex-col gap-12 p-16 bg-fg-1 border border-stroke max-w-[512px] rounded-6"
>
    <h3 class="text-h5 text-accent font-mono">Mission Statement</h3>
    <p class="text-body leading-[170%]">
        OpenMarch was founded with one main purpose: <strong>
            make drill designing more accessible.
        </strong>
        <br />
        <br />
        <p class="leading-loose text-text">
            The marching arts, as an activity, constantly finds itself battling
            with budgets and fighting for its own existence. No one is getting
            rich from loving band, yet thousands of us still dedicate our lives
            to it.
        </p>
        <p class="leading-loose text-text">
            There is no reason any band should be spending significant portions
            of their budget on software. No director should spend mountains of
            their free time fighting to write drill. Drill writing
            shouldn&apos;t be hard. It should be fun and accessible.
        </p>
        <div
            class="rounded-6 border border-accent bg-fg-1 p-4 text-center font-bold text-lg"
        >
            The value is in the student experience. <br />The money and time
            should stay there.
        </div>
    </p>
    <h3 class="text-h5 text-accent font-mono">Three Principles</h3>
    <p class="text-body leading-[170%]">
        Throughout the development of OpenMarch, we focus on maintaining three
        principles.
    </p>
    <h3 class="text-body font-mono">Stay Free</h3>
    <p class="text-body leading-[170%]">
        All of the technologies OpenMarch uses have been intentionally chosen to
        minimize operation costs. This ensures that OpenMarch remains accessible
        to everyone, regardless of their financial situation.
    </p>
    <h3 class="text-body font-mono">Stay Fast</h3>
    <p class="text-body leading-[170%]">
        OpenMarch is built with a smooth experience in mind. We want to ensure
        that the software runs smoothly on any device, making the drill writing
        process efficient and enjoyable. OpenMarch hopes to help you get your
        ideas on the page, faster.
    </p>
    <h3 class="text-body font-mono">Stay Simple</h3>
    <p class="text-body leading-[170%]">
        We focus on providing essential features without unnecessary complexity.
        Our interface is intuitive and easy to use, allowing you to create drill
        without a steep learning curve. You shouldn’t feel like your tool is
        fighting you when you’re trying to be creative.
    </p>
    <h3 class="text-h5 text-accent font-mono">Our Goals</h3>
    <ul class="list-disc list-inside text-body leading-[170%]">
        <li>Provide a free app for students to learn show design</li>
        <li>
            Create a free tool for band directors to write for their own group
        </li>
        <li>Be enough for 90% of ensembles with reasonable design needs</li>
        <li>Take feedback from real designers and implement what they need</li>
        <li>
            Allow developers of any level to contribute and make this project
            better
        </li>
        <li>
            Always have the interface be intuitive, beautiful and consistent
        </li>
    </ul>
</div>
