@import "@openmarch/ui/src/tailwind.css";
@source "../../../../packages/ui/src/components";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";
@plugin "tailwindcss-intersect";

@theme {
    --text-body: 1rem;
}

html {
    scroll-behavior: smooth;
}

.download-cta-gradient {
    background: linear-gradient(
        90deg,
        --alpha(var(--color-accent) / 20%) 0%,
        var(--color-bg-1) 20%,
        var(--color-bg-1) 80%,
        --alpha(var(--color-accent) / 20%) 100%
    );
}

.astro-code span {
    @apply border-stroke text-text rounded-8 border bg-[#15141A] p-4 font-mono text-[0.85rem];
}
