supportedArchitectures.os=[ "darwin", "win32", "linux" ]
supportedArchitectures.cpu=[ "x64", "arm64" ]

# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
public-hoist-pattern[]=*@libsql*
shamefully-hoist=true

@openmarch:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
