{
    "tabWidth": 4,
    "useTabs": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.markdown", "*.md"],
            "options": {
                "tabWidth": 2,
                "useTabs": false
            }
        }
    ]
}
