@import 'bootstrap/scss/bootstrap';

/* ================= GLOBAL STYLES ================= */
html, body, #root, .app {
  height: 100%;
}

/* ================= TOOLBAR STYLES ================= */
$topHeight: 125px;
$sideWidth: 200px;
$toolbarColor: $primary;

/* ------------ Top Toolbar ------------ */
$editFormWidth: 200px;

.topbar {
  height: $topHeight;
  background-color: $toolbarColor;
  display: flex;
}

.topbar Form {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  position: relative;
  height: 100%;
  width: $editFormWidth;
  background-color: $light;
}

.edit-form-button {
  margin: 5px;
}

.edit-form-button-container {
 display: flex;
 justify-content: flex-end;
}

/* ------------ Side Toolbar ------------ */
.sidebar {
  width: $sideWidth;
  max-height:  calc(100vh - #{$topHeight});
  // flex-grow: 1;
  background-color: $toolbarColor;
}

.sidebar h2 {
  color: $light;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: -10px;
}

/* Container to hold both toolbars and ensure they stack vertically */
.toolbar-container, .sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-container {
  background-color: $light;
  width: 80%;
  height: 25%;
  margin: auto;
}

.table-hover {
  cursor: pointer;
}

.table-header
{
  font-weight: bold;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
}

.sidebar th {
  text-align: left;
}
