/* ------- GLOBAL STYLES ------- */
html, body, #root, .app {
  height: 100%;
}


/* ------- TOOLBAR STYLES ------- */
$topHeight: 150px;
$sideWidth: 250px;
$toolbarColor: #58aeff;
.topbar {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; Keep on top. Is this the best way?
  height: 50px;
  width: 100%; */
  height: $topHeight;
  background-color: $toolbarColor;
}

.sidebar {
  /* position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px; */
  width: $sideWidth;
  height:  calc(100% - #{$topHeight});
  // flex-grow: 1;
  background-color: $toolbarColor;
}

.sidebar h2 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  padding: 5px;
}


/* Container to hold both toolbars and ensure they stack vertically */
.toolbar-container, .sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.marcher-list, .page-list, .page-details {
  // flex: 1;
  background-color: #f0f0f0;
  // border: 1px solid #ccc;
  // border-radius: 5px;
  width: 80%;
  height: 25%;
  box-sizing: border-box;
  margin: auto;
  // overflow-y: auto;
}

.table-header
{
  font-weight: bold;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
}
