@import 'bootstrap/scss/bootstrap';

/* ================= GLOBAL STYLES ================= */
html, body  {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  // overflow: hidden;
  display: flex;
}

.app, #root {
  height: 100%;
  width: 100%;
}

.app-container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.secondary-container {
  display: flex;
  flex-direction: row;
  // flex: 1;
}

/* ================= CANVAS STYLES ================= */

.canvas-container {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.field-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.marcher-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* ================= TOOLBAR STYLES ================= */
$topHeight: 125px;
$sideWidth: 200px;
$toolbarColor: $primary;

.toolbar-container {
  display: flex;
  flex: 1;
}

/* ------------ Top Toolbar ------------ */
$editFormWidth: 200px;

.topbar {
  width: 100%;
  height: $topHeight;
  background-color: $toolbarColor;
  display: flex;
}

.topbar Form {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  position: relative;
  height: 100%;
  width: $editFormWidth;
  background-color: $light;
}

.edit-form-button {
  margin: 5px;
}

.edit-form-button-container {
 display: flex;
 justify-content: flex-end;
}

/* ------------ Side Toolbar ------------ */
.sidebar {
  width: $sideWidth;
  max-height:  calc(100vh - #{$topHeight});
  // flex-grow: 1;
  background-color: $toolbarColor;
}

.sidebar h2 {
  color: $light;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: -50px;
}

/* Container to hold both toolbars and ensure they stack vertically */
.app-container, .sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-container {
  background-color: $light;
  width: 80%;
  max-height: 22%;
  height: 22%;
  margin: auto;
}

.table-hover {
  cursor: pointer;
}

.table-header
{
  font-weight: bold;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
}

.sidebar th {
  text-align: left;
}
