@import "tailwindcss";
@import "@openmarch/ui/src/tailwind.css";
@source "../../../../packages/ui/src/components";

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Titlebar */
.main-app-titlebar {
    -webkit-app-region: drag;
}
.main-app-titlebar .titlebar-button {
    -webkit-app-region: no-drag;
}

/* Number input arrows */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    background: transparent;
    /* $SED color: var(--color-text); */
    color: rgb(32, 32, 32);
    margin: 0;
}

.dark input[type="number"]::-webkit-inner-spin-button,
.dark input[type="number"]::-webkit-outer-spin-button {
    background: transparent;
    /* $SED_DARK color: var(--color-text); */
    color: rgb(208, 208, 208);
    margin: 0;
}

/* Disable text selection */

body {
    user-select: none;
}

input,
textarea,
.select-text {
    user-select: text;
}

input,
button,
textarea,
:focus {
    outline: none;
}

/* Sentry Feedback */

#sentry-feedback {
    --border: "black";
    /* $SED --foreground: rgb(var(--color-text)); */
    --foreground: rgb(32, 32, 32);
    /* $SED --background: rgb(var(--color-bg-1)); */
    --background: rgb(236, 235, 240);
    /* $SED --accent-foreground: rgb(var(--color-text-invert)); */
    --accent-foreground: rgb(255, 255, 255);
    /* $SED --accent-background: rgb(var(--color-accent)); */
    --accent-background: rgb(100, 66, 255);
    /* $SED --success-color: rgb(var(--color-green)); */
    --success-color: rgb(72, 158, 51);
    /* $SED --accent-foreground: rgb(var(--color-text-invert)); */
    --accent-foreground: rgb(255, 255, 255);
    /* $SED --accent-background: rgb(var(--color-accent)); */
    --accent-background: rgb(100, 66, 255);
    /* $SED --success-color: rgb(var(--color-green)); */
    --success-color: rgb(72, 158, 51);
    /* $SED --error-color: rgb(var(--color-red)); */
    --error-color: rgb(176, 51, 51);
    /* $SED --box-shadow: rgb(var(--color-modal-shadow)); */
    --box-shadow: rgba(0, 0, 0, 0.15);
}

.dark #sentry-feedback {
    --border: "white";
    /* $SED_DARK --foreground: rgb(var(--color-text)); */
    --foreground: rgb(208, 208, 208);
    /* $SED_DARK --background: rgb(var(--color-bg-1)); */
    --background: rgb(15, 14, 19);
    /* $SED_DARK --accent-foreground: rgb(var(--color-text-invert)); */
    --accent-foreground: rgb(0, 0, 0);
    /* $SED_DARK --accent-background: rgb(var(--color-accent)); */
    --accent-background: rgb(150, 126, 255);
    /* $SED_DARK --success-color: rgb(var(--color-green)); */
    --success-color: rgb(113, 222, 86);
    /* $SED_DARK --accent-foreground: rgb(var(--color-text-invert)); */
    --accent-foreground: rgb(0, 0, 0);
    /* $SED_DARK --accent-background: rgb(var(--color-accent)); */
    --accent-background: rgb(150, 126, 255);
    /* $SED_DARK --success-color: rgb(var(--color-green)); */
    --success-color: rgb(113, 222, 86);
    /* $SED_DARK --error-color: rgb(var(--color-red)); */
    --error-color: rgb(227, 74, 74);
    /* $SED_DARK --box-shadow: rgb(var(--color-modal-shadow)); */
    --box-shadow: rgba(255, 255, 255, 0.15);
}

@keyframes pulse {
    0%,
    100% {
        background-position: 0% 50%;
        background-size: 180% 180%;
        opacity: 0.85;
    }
    50% {
        background-position: 100% 50%;
        background-size: 220% 220%;
        opacity: 1;
    }
}

/****** Wavesurfer *******/

/* MEASURES */
#waveform ::part(measure) {
    background-color: rgb(180, 180, 180) !important;
}

.dark #waveform ::part(measure) {
    background-color: rgb(90, 90, 90) !important;
}

#waveform ::part(rehearsalMark) {
    background-color: var(--color-accent) !important;
    width: 2px !important;
    font-size: 20px;
}

#waveform ::part(editable-rehearsalMark) {
    background-color: var(--color-accent) !important;
    width: 2px !important;
    font-size: 20px;
}

#waveform ::part(editable-measure) {
    background-color: transparent !important;
}

/* Keep the region content visible */
#waveform ::part(region-content) {
    margin-left: 6px;
    width: auto;
    text-align: center;
    padding: 0 4px;
    border: 1px solid var(--color-text-disabled) !important;
    background-color: var(--color-bg-1);
    border-radius: 6px;
    opacity: 1 !important; /* Ensure content stays visible */
    font-family: "DM Mono";
}

/* BEATS */

#waveform ::part(beat) {
    background-color: rgb(205, 205, 205) !important;
    height: 30% !important;
}

.dark #waveform ::part(beat) {
    background-color: rgb(60, 60, 60) !important;
}

#waveform ::part(editable-beat) {
    background-color: var(--color-text-disabled) !important;
    height: 50% !important;
    width: 4px !important;
    cursor: ew-resize;
}
#waveform ::part(editable-beat)::after {
    position: absolute;
    bottom: -21px;
    left: -1px;
    transform: translateX(-50%);
    color: var(--color-text);
    font-size: 24px;
}

/* CURSOR */
#waveform ::part(cursor) {
    background-color: var(--color-accent) !important;
}

.dark #waveform ::part(cursor) {
    background-color: var(--color-accent) !important;
}
