---
interface Props {
    href: string;
    label: string;
}
const { href, label } = Astro.props;
---

<a
    href={href}
    class="group flex items-center gap-16 text-h2 duration-150 ease-out hover:text-accent"
>
    {label}
    <i
        class="ph ph-arrow-up-right text-[2.25rem] duration-150 ease-in-out group-hover:rotate-[45deg]"
    ></i>
</a>
