@tailwind base;
@tailwind components;
@tailwind utilities;

/* Each color style in RGB, gradient stop, and its dark mode variant */
@layer base {
    :root {
        /* light mode */
        --bg-1: 236, 235, 240;
        --fg-1-stop-1: 0, 0, 0, 0.03;
        --fg-1-stop-2: 0, 0, 0, 0.05;
        --fg-2-stop-1: 255, 255, 255, 0.17;
        --fg-2-stop-2: 255, 255, 255, 0.23;
        --modal-stop-1: 236, 235, 240, 0.85;
        --modal-stop-2: 236, 235, 240, 0.9;
        --modal-shadow: 0, 0, 0, 0.15;
        --modal-overlay: 255, 255, 255, 0.25;
        --stroke: 0, 0, 0, 0.1;
        --text: 32, 32, 32;
        --text-invert: 255, 255, 255;
        --accent: 100, 66, 255;
        --red: 176, 51, 51;
        --yellow: 200, 170, 0;
        --green: 72, 158, 51;
    }
    [class="dark"] {
        /* dark mode */
        --bg-1: 14, 13, 20;
        --fg-1-stop-1: 255, 255, 255, 0.02;
        --fg-1-stop-2: 255, 255, 255, 0.04;
        --fg-2-stop-1: 255, 255, 255, 0.03;
        --fg-2-stop-2: 255, 255, 255, 0.05;
        --modal-stop-1: 14, 13, 20, 0.96;
        --modal-stop-2: 14, 13, 20, 0.98;
        --modal-shadow: 0, 0, 0, 0.5;
        --modal-overlay: 0, 0, 0, 0.15;
        --stroke: 255, 255, 255, 0.06;
        --text: 208, 208, 208;
        --text-invert: 0, 0, 0;
        --accent: 142, 117, 255;
        --red: 227, 74, 74;
        --yellow: 236, 211, 71;
        --green: 113, 222, 86;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Titlebar */
.main-app-titlebar {
    -webkit-app-region: drag;
}
.main-app-titlebar .titlebar-button {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--text), 0.075);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--text), 0.15);
}

/* Number input arrows */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    background: transparent;
    color: var(--text);
    margin: 0;
}
