@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply transition-all border-0 cursor-pointer px-4 py-2
      text-white bg-purple-600 enabled:hover:bg-gray-100 enabled:hover:text-purple-700
      disabled:cursor-default disabled:bg-purple-900 disabled:text-opacity-75;
    }
    .btn-secondary {
      @apply transition-all border-0 cursor-pointer px-4 py-2
      text-gray-900 bg-white disabled:bg-gray-300
      enabled:hover:bg-gray-100 enabled:hover:text-blue-700
      dark:bg-slate-500 dark:text-white dark:enabled:hover:text-white
      dark:enabled:hover:bg-slate-700 disabled:cursor-default
      disabled:dark:bg-slate-800 disabled:text-opacity-75;
    }

    .tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max
        top-0 right-[90%] left-0
        rounded-md shadow-md
        text-white bg-gray-900
        text-xs font-bold
        transition-opacity duration-100 opacity-0
    }
  }
