---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@openmarch/ui";
---

<Layout title="404">
    <div
        class="flex h-[80vh] min-h-0 flex-col items-center justify-center gap-0"
    >
        <code class="font-mono text-[6rem] text-red">404</code>
        <a href="/">
            <Button size="compact" variant="secondary">Go back home</Button>
        </a>

        <div
            class="absolute bottom-1/5 left-1/2 -translate-x-1/2 -z-50 size-[400px] rounded-full bg-red opacity-40 blur-[15vmin]"
        >
        </div>
    </div>
</Layout>
