---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

import Landing from "@/components/home/Landing.astro";
import Features from "@/components/home/Features.astro";
import Merch from "@/components/home/Merch.astro";
import Blogs from "@/components/home/Blogs.astro";
import Testimonials from "@/components/home/Testimonials.astro";
import Community from "@/components/home/Community";
---

<Layout title="Home">
    <script>
        import { Observer } from "tailwindcss-intersect";

        Observer.start();
    </script>
    <Landing />
    <Features />
    <Testimonials />
    <Community client:visible />
    <Merch />
    <Blogs />

    <div
        class="bg-accent intersect:motion-preset-fade-lg absolute top-[200vh] -left-[0%] -z-50 size-[700px] -translate-x-1/2 rounded-full opacity-15 blur-[20vmin]"
    >
    </div>

    <div
        class="bg-accent intersect:motion-preset-fade-lg absolute top-[380vh] -right-[40%] -z-50 size-[700px] -translate-x-1/2 rounded-full opacity-15 blur-[20vmin]"
    >
    </div>
    <div
        class="bg-accent intersect:motion-preset-fade-lg absolute top-[500vh] left-[0%] -z-50 size-[700px] -translate-x-1/2 rounded-full opacity-15 blur-[20vmin]"
    >
    </div>
</Layout>
