---
import Layout from "@/layouts/Layout.astro";
import Landing from "@/components/mobile/Landing.astro";
import Features from "@/components/mobile/Features.astro";
import Pricing from "@/components/mobile/Pricing.astro";
import FAQ from "@/components/mobile/FAQ.astro";
---

<Layout title="Mobile">
    <div class="flex w-full min-w-0 flex-col items-center gap-96">
        <Landing />
        <Features />
        <Pricing />
        <FAQ />
    </div>
</Layout>
