---
import { Button } from "@openmarch/ui";
---

<section id="community" class="grid grid-cols-3 gap-8">
    <div
        class="border border-stroke overflow-clip relative rounded-6 flex flex-col items-center justify-center gap-8 p-12 py-32"
    >
        <h1 class="text-h3">Join our community</h1>
        <p class="text-body text-text-subtitle text-center">
            Support OpenMarch via Patreon, buying merch, or contributing code.
            Join in today!
        </p>
        <a
            href="https://patreon.com/openmarch"
            target="_blank"
            rel="noreferrer"
        >
            <Button variant="primary">Become a Patron</Button>
        </a>
        <a
            href="https://github.com/OpenMarch/OpenMarch"
            target="_blank"
            rel="noreferrer"
        >
            <Button variant="primary">Fork the repo</Button>
        </a>

        <div
            class="absolute -top-1/5 left-1/2 -translate-x-1/2 -z-50 size-[200px] rounded-full bg-accent opacity-40 blur-[7vmin] intersect:motion-preset-fade-lg"
        >
        </div>
    </div>

    <div
        class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-12"
    >
        <div id="pfp-grid" class="grid grid-cols-5 justify-between"></div>
        <div class="w-full h-fit justify-center gap-16 flex">
            <p class="text-sub font-mono">
                <span class="text-accent">#</span>
                patreon supporters
            </p>
        </div>
    </div>

    <div
        class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-12"
    >
        <div id="pfp-grid" class="grid grid-cols-5 justify-between"></div>
        <div class="w-full h-fit justify-center gap-16 flex">
            <p class="text-sub font-mono">
                <span class="text-accent">#</span>
                contributors
            </p>
            <p class="text-sub font-mono">
                <span class="text-accent">#</span>
                PRs merged
            </p>
            <p class="text-sub font-mono">
                <span class="text-accent">#</span>
                commits
            </p>
        </div>
    </div>
</section>
