---
import { Image } from "astro:assets";
---

<section id="features" class="relative flex h-fit flex-col gap-32">
    <div class="flex flex-col gap-16">
        <h2 class="text-h2">Drill writing</h2>
        <div class="grid grid-cols-4 grid-rows-2 gap-8">
            <div
                class="grid grid-cols-2 grid-rows-2 gap-8 col-span-2 row-span-2"
            >
                <div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div><div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div><div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div><div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div>
            </div><Image
                src={"/home/editor-dark.png"}
                alt="Editor Screenshot"
                width={1920}
                height={1080}
                format="webp"
                quality={80}
                class="hidden dark:block border border-stroke rounded-6 intersect:motion-preset-fade-lg col-span-2 row-span-2 object-left object-cover aspect-square"
            />
            <Image
                src={"/home/editor-light.png"}
                alt="Editor Screenshot"
                width={1920}
                height={1080}
                format="webp"
                quality={80}
                class="block dark:hidden border border-stroke rounded-6 intersect:motion-preset-fade-lg col-span-2 row-span-2 object-left object-cover aspect-square"
            />
        </div>
    </div><div class="flex flex-col gap-16">
        <h2 class="text-h2">Music</h2>
        <div class="grid grid-cols-4 grid-rows-2 gap-8">
            <Image
                src={"/home/editor-dark.png"}
                alt="Editor Screenshot"
                width={1920}
                height={1080}
                format="webp"
                quality={80}
                class="hidden dark:block border border-stroke rounded-6 intersect:motion-preset-fade-lg col-span-2 row-span-2 object-left object-cover aspect-square"
            />
            <Image
                src={"/home/editor-light.png"}
                alt="Editor Screenshot"
                width={1920}
                height={1080}
                format="webp"
                quality={80}
                class="block dark:hidden border border-stroke rounded-6 intersect:motion-preset-fade-lg col-span-2 row-span-2 object-left object-cover aspect-square"
            />
            <div
                class="grid grid-cols-2 grid-rows-2 gap-8 col-span-2 row-span-2"
            >
                <div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div><div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div><div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div><div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div>
            </div>
        </div>
    </div><div class="flex flex-col gap-16">
        <h2 class="text-h2">Field</h2>
        <div class="grid grid-cols-4 grid-rows-2 gap-8">
            <div
                class="grid grid-cols-2 grid-rows-2 gap-8 col-span-2 row-span-2"
            >
                <div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div><div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div><div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div><div
                    class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-8"
                >
                    <h4 class="text-h4">Lorem ipsum</h4>
                    <p class="text-body leading-[180%]">
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div>
            </div><Image
                src={"/home/editor-dark.png"}
                alt="Editor Screenshot"
                width={1920}
                height={1080}
                format="webp"
                quality={80}
                class="hidden dark:block border border-stroke rounded-6 intersect:motion-preset-fade-lg col-span-2 row-span-2 object-left object-cover aspect-square"
            />
            <Image
                src={"/home/editor-light.png"}
                alt="Editor Screenshot"
                width={1920}
                height={1080}
                format="webp"
                quality={80}
                class="block dark:hidden border border-stroke rounded-6 intersect:motion-preset-fade-lg col-span-2 row-span-2 object-left object-cover aspect-square"
            />
        </div>
    </div>
</section>
