---
import { Button } from "@openmarch/ui";
---

<section id="testimonials" class="flex flex-col gap-8 items-center">
    <h1 class="text-h3">Changing how ensembles design and perform</h1>
    <div
        class="grid grid-cols-2 grid-rows-2 max-[850px]:grid-rows-3 max-[850px]:grid-cols-1 gap-8"
    >
        <div
            class="bg-fg-1 border border-stroke justify-center row-span-2 rounded-6 p-12 flex flex-col gap-6"
        >
            <h2 class="text-h4">Sunbright HS</h2>
            <p class="text-body font-medium">Brandon Wright, Marching Band</p>
            <p class="text-body leading-[165%] text-text-subtitle">
                We’re a small K-12 school of about 470 students, with 25 in the
                high school band. I’ve tried every program we could afford, and
                OpenMarch has been the most accessible and easy to use. It’s
                been a lifesaver. Writing drill in OpenMarch feels like digital
                graph paper and pencil, but better, I can go back and see what I
                did wrong faster. The 0.0.9 music update really stood out.
                Setting tempo made things fly. Our performers got their drill
                early, and writing something legible with just what we need made
                everything more seamless. I teach all grades, so anything that
                saves time like this is a massive plus. I 100% believe we’ll
                keep using it. The dot charts make things simpler, and the drill
                is more cohesive. I’m glad the team gets something from merch,
                but they deserve way more, this could save band programs.
                OpenMarch takes the cake, even over paid options. Thank you,
                it’s a miracle for small, early-stage programs like ours.
            </p>
        </div>
        <div
            class="bg-fg-1 border border-stroke justify-center rounded-6 p-12 flex flex-col gap-6"
        >
            <h2 class="text-h4">Cinnaminson HS</h2>
            <p class="text-body font-medium">Douglas Ferraro, Indoor</p>
            <p class="text-body leading-[165%] text-text-subtitle">
                I only write drill during indoor season and couldn’t justify the
                cost of other software. I saw a post about OpenMarch and gave it
                a shot! We finished writing & teaching the show earlier than
                ever before, and the students were loving the dot sheets and
                watching the drill on the big screen! I would absolutely
                recommend it, especially for smaller ensembles and new drill
                writers.
            </p>
        </div>
        <div
            class="bg-fg-1 border border-stroke justify-center rounded-6 p-12 flex flex-col gap-6"
        >
            <h2 class="text-h4">Downriver Indoor Percussion</h2>
            <p class="text-body font-medium">Chris Vilag, Indoor</p>
            <p class="text-body leading-[165%] text-text-subtitle">
                Downriver used OpenMarch in the 2025 indoor season, ending as
                Percussion Regional A champions competing in the Michigan
                Alliance for Performing Arts.
            </p>
        </div>
    </div>
    <div
        class="flex justify-between w-full p-32 pl-48 border border-stroke rounded-full items-center max-[550px]:flex-col max-[550px]:justify-center max-[550px]:items-center gap-20"
    >
        <h3 class="text-h3">Try it yourself!</h3>
        <a href="/download"><Button>Download OpenMarch</Button></a>
    </div>
</section>
