<section id="testimonials" class="flex flex-col w-[50rem] gap-8 items-center">
    <h1 class="text-h3">Changing how ensembles design and perform</h1>
    <div class="grid grid-cols-2 grid-rows-2 gap-8">
        <div
            class="bg-fg-1 border border-stroke justify-center row-span-2 rounded-6 p-12 flex flex-col gap-6"
        >
            <h2 class="text-h4">Cinnaminson HS</h2>
            <p class="text-body font-medium">Douglas Ferraro, Indoor</p>
            <p class="text-body leading-[180%] text-text-subtitle">
                I only write drill during indoor season and couldn’t justify the
                cost of other software. I saw a post about OpenMarch and gave it
                a shot! We finished writing & teaching the show earlier than
                ever before, and the students were loving the dot sheets and
                watching the drill on the big screen! I would absolutely
                recommend it, especially for smaller ensembles and new drill
                writers.
            </p>
        </div>
        <div
            class="bg-fg-1 border border-stroke justify-center rounded-6 p-12 flex flex-col gap-6"
        >
            <h2 class="text-h4">Downriver Indoor Percussion</h2>
            <p class="text-body font-medium">Chris Vilag, Indoor</p>
            <p class="text-body leading-[180%] text-text-subtitle">
                Downriver used OpenMarch in the 2025 indoor season, ending as
                Percussion Regional A champions competing in the Michigan
                Alliance for Performing Arts.
            </p>
        </div>
        <div
            class="bg-fg-1 border border-stroke justify-center rounded-6 p-12 flex flex-col gap-6"
        >
            <h2 class="text-h4">Sunbright HS</h2>
            <p class="text-body font-medium">Brandon Wright</p>
            <p class="text-body leading-[180%] text-text-subtitle">
                Sunbright High School are using it this 2025 semester. OpenMarch
                is an absolute lifesaver!
            </p>
        </div>
    </div>
</section>
