---

---

<section id="testimonials" class="flex flex-col gap-8 items-center">
    <h1 class="text-h3">
        Changing the experience of ensembles around the world
    </h1>
    <div class="grid grid-cols-3 gap-8">
        <div
            class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-6"
        >
            <h2 class="text-h4">School name</h2>
            <p class="text-body font-medium">Teacher name, ensemble type</p>
            <p class="text-body leading-[180%] text-text-subtitle">
                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div
            class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-6"
        >
            <h2 class="text-h4">School name</h2>
            <p class="text-body font-medium">Teacher name, ensemble type</p>
            <p class="text-body leading-[180%] text-text-subtitle">
                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div
            class="bg-fg-1 border border-stroke rounded-6 p-12 flex flex-col gap-6"
        >
            <h2 class="text-h4">School name</h2>
            <p class="text-body font-medium">Teacher name, ensemble type</p>
            <p class="text-body leading-[180%] text-text-subtitle">
                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
    </div>
</section>
