---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="About">
    <div class="flex flex-col gap-64 p-64 max-[750px]:p-24">
        <section
            id="download"
            class="relative flex h-fit w-full min-w-0 flex-col items-center gap-32"
        >
            <div
                class="flex h-[50vh] min-h-0 w-full flex-col items-start justify-center px-64 max-[1000px]:p-32"
            >
                <h1 class="text-left text-[96px] max-[700px]:text-h1">
                    About Us
                </h1>
            </div>
            <div
                class="flex h-fit w-full flex-col gap-64 rounded-6 border border-stroke bg-fg-1 px-256 py-128 max-[1000px]:p-32"
            >
                <h1 class="text-h1">About</h1>
                <p class="leading-loose text-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                    et massa mi. Aliquam in hendrerit urna. Pellentesque sit
                    amet sapien fringilla, mattis ligula consectetur, ultrices
                    mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet
                    augue. Vestibulum auctor ornare leo, non suscipit magna
                    interdum eu. Curabitur pellentesque nibh nibh, at maximus
                    ante fermentum sit amet. Pellentesque commodo lacus at
                    sodales sodales. Quisque sagittis orci ut diam condimentum,
                    vel euismod erat placerat. In iaculis arcu eros, eget tempus
                    orci facilisis id.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula
                    consectetur, ultrices mauris. Maecenas vitae mattis tellus.
                    Nullam quis imperdiet augue. Vestibulum auctor ornare leo,
                    non suscipit magna interdum eu. Curabitur pellentesque nibh
                    nibh, at maximus ante fermentum sit amet. Pellentesque
                    commodo lacus at sodales sodales. Quisque sagittis orci ut
                    diam condimentum, vel euismod erat placerat. In iaculis arcu
                    eros, eget tempus orci facilisis id.
                </p>
                <h1 class="text-h1">Team</h1>
                <div class="grid grid-cols-3 gap-32 max-[920px]:grid-cols-1">
                    <div class="flex flex-col gap-16">
                        <Image
                            src="/blog/placeholder.jpg"
                            width={128}
                            height={128}
                            alt="person"
                            class="size-72 rounded-full"
                        />
                        <h2 class="text-h2">Alex</h2>
                        <h4 class="text-h4">Founder & lead developer</h4>
                        <p class="leading-loose text-text">
                            Founder & lead developer
                        </p>
                        <div class="flex gap-24">
                            <a
                                href="https://github.com"
                                class="text-body text-accent hover:underline"
                                target="_blank"
                            >
                                GitHub
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-col gap-16">
                        <Image
                            src="/pfps/dukc.png"
                            width={128}
                            height={128}
                            alt="person"
                            class="size-72 rounded-full"
                        />
                        <h2 class="text-h2">dukc</h2>
                        <h4 class="text-h4">Designer & front-end developer</h4>
                        <p class="leading-loose text-text">
                            dukc is a creative designer and web developer,
                            making app designs, websites, and concepts.
                        </p>
                        <div class="flex gap-24">
                            <a
                                href="https://dukc.dev"
                                class="text-body text-accent hover:underline"
                                target="_blank"
                            >
                                Website
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="absolute left-1/2 top-0 -z-50 h-[18vw] w-[22vw] -translate-x-1/2 bg-accent opacity-40 blur-[512px]"
            >
            </div>
        </section>
    </div>
</Layout>
