---
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
    <div class="h-[300vh] p-64">
        <h1 class="text-[96px] text-text">
            Free & open source drill writing software
        </h1>
        <ThemeSwitcher />
    </div>
</Layout>
