---
import "@fontsource/dm-sans/400.css";
import "@fontsource/dm-sans/700.css";
import "@fontsource/dm-mono/400.css";
import "@/styles/base.css";

import Nav from "@/components/Nav";
import Footer from "@/components/Footer.astro";

const { title, noindex = false } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {noindex && <meta name="robots" content="noindex, nofollow" />}
        <link rel="icon" href="/favicon.png" type="image/png" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{title} | OpenMarch</title>
    </head>
    <body
        class="overflow-x-hidden bg-bg-1 text-text flex justify-center items-start px-8"
    >
        <main class="w-full py-8 flex flex-col gap-96 items-center">
            <div class="flex w-full max-w-1200 flex-col items-center gap-96">
                <Nav client:load pathname={Astro.url.pathname} />
                <slot />
            </div>
            <Footer
                hideDownloadCta={Astro.url.pathname === "/download" ||
                    Astro.url.pathname === "/mobile"}
            />
        </main>
    </body>
</html>
