---

---

<div
    class="prose text-light-text prose-headings:text-light-text prose-a:text-light-accent prose-a:underline prose-p:text-body prose-p:leading-[220%] prose-h1:text-h1 prose-h1:leading-[0em] prose-h2:text-h2 prose-h2:leading-none prose-h3:text-h3 prose-h3:leading-none prose-h4:text-h4 prose-h4:leading-none prose-ul:list-disc prose-ol:list-decimal marker:text-light-text prose-ul:list-black prose-li:pl-16 prose-strong:font-semibold prose-em:italic prose-code:text-mono prose-code:p-16 prose-code:rounded-8 prose-table:w-full prose-video:rounded-16 prose-video:border prose-video:border-light-stroke prose-img:rounded-16 prose-img:border prose-img:border-light-stroke prose-blockqoute:border-black"
>
    <slot />
</div>
