---
import { Button } from "@openmarch/ui";
import Layout from "@/layouts/Layout.astro";
import { LogoOpenMarchText } from "@/components/Logos";
import {
    GithubLogoIcon,
    LinkedinLogoIcon,
    BehanceLogoIcon,
    YoutubeLogoIcon,
    InstagramLogoIcon,
} from "@phosphor-icons/react";
import { Image } from "astro:assets";
---

<Layout title="About">
    <LogoOpenMarchText width="300" height="168" />

    <div
        class="flex flex-col gap-12 p-16 bg-fg-1 border border-stroke w-[512px] rounded-6"
    >
        <h3 class="text-h5 text-accent font-mono">Mission Statement</h3>
        <p class="text-body leading-[170%]">
            OpenMarch was founded with one main purpose: <strong>
                make drill designing more accessible.
            </strong>
            <br />
            <br />
            The hope is not to be the be all and end all of drill writing, but we
            want to make it way easier. Musescore has done amazing things for the
            composition community, yet Dorico and Sibelius still exist. Professionals
            will always want the premium features and OpenMarch will be for those
            who just need a simple but fast tool. Many young designers and band directors
            of smaller groups don't need complex features. They don't need advanced
            3D rendering and they don't need support for thousands of objects. They
            just want to design and OpenMarch wants to help them.
        </p>
        <h3 class="text-h5 text-accent font-mono">Three Principles</h3>
        <p class="text-body leading-[170%]">
            Throughout the development of OpenMarch, we focus on maintaining
            three principles.
        </p>
        <h3 class="text-body font-mono">Stay Free</h3>
        <p class="text-body leading-[170%]">
            All of the technologies OpenMarch uses have been intentionally
            chosen to minimize operation costs. This ensures that OpenMarch
            remains accessible to everyone, regardless of their financial
            situation.
        </p>
        <h3 class="text-body font-mono">Stay Fast</h3>
        <p class="text-body leading-[170%]">
            OpenMarch is built with a smooth experience in mind. We want to
            ensure that the software runs smoothly on any device, making the
            drill writing process efficient and enjoyable. OpenMarch hopes to
            help you get your ideas on the page, faster.
        </p>
        <h3 class="text-body font-mono">Stay Simple</h3>
        <p class="text-body leading-[170%]">
            We focus on providing essential features without unnecessary
            complexity. Our interface is intuitive and easy to use, allowing you
            to create drill without a steep learning curve. You shouldn’t feel
            like your tool is fighting you when you’re trying to be creative.
        </p>
        <h3 class="text-h5 text-accent font-mono">Our Goals</h3>
        <ul class="list-disc list-inside text-body leading-[170%]">
            <li>Provide a free app for students to learn show design</li>
            <li>
                Create a free tool for band directors to write for their own
                group
            </li>
            <li>Be enough for 90% of ensembles with reasonable design needs</li>
            <li>
                Take feedback from real designers and implement what they need
            </li>
            <li>
                Allow developers of any level to contribute and make this
                project better
            </li>
        </ul>
    </div>

    <div class="flex flex-col items-center gap-24">
        <div class="w-[512px] flex flex-col items-center gap-16">
            <h1 class="text-h2">The team behind OpenMarch</h1>
            <p class="text-center text-body text-text">
                We're a team of passionate drum corps alumni and lovers of music
                and the marching arts, working to make drill design easier and
                more accessible.
            </p>
        </div>

        <div class="grid grid-cols-3 gap-8 max-[920px]:grid-cols-1">
            <div
                class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
            >
                <Image
                    src="/pfps/alex.png"
                    alt="Alex Dumouchelle"
                    width={128}
                    height={128}
                    quality={80}
                    format="webp"
                    class="rounded-full size-96 border border-stroke"
                />
                <h3 class="text-h3">Alex Dumouchelle</h3>
                <h4 class="text-h5">Founder & lead developer</h4>
                <p class="text-body">
                    Alex, an alumni of The Cadets, oversees all of the project's
                    operations and leads the development effort.
                </p>

                <div class="flex flex-wrap items-center gap-12">
                    <a target="_blank" href="/about/alexdumo">
                        <Button variant="secondary" size="compact">
                            More about Alex
                        </Button>
                    </a>
                    <a target="_blank" href="https://github.com/AlexDumo">
                        <GithubLogoIcon size={24} />
                    </a>
                    <a
                        target="_blank"
                        href="https://www.linkedin.com/in/AlexDumo/"
                    >
                        <LinkedinLogoIcon size={24} />
                    </a>
                    <a
                        target="_blank"
                        href="https://www.youtube.com/@alexdumouchelle3744"
                    >
                        <YoutubeLogoIcon size={24} />
                    </a>
                </div>
            </div>
            <div
                class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
            >
                <Image
                    src="/pfps/aleksi.png"
                    alt="Aleksi Saario"
                    width={128}
                    height={128}
                    quality={80}
                    format="webp"
                    class="rounded-full size-96 border border-stroke"
                />
                <h3 class="text-h3">Aleksi Saario</h3>
                <h4 class="text-h4">Marketing manager</h4>
                <p class="text-body">
                    Aleksi manages marketing, social media accounts, and our
                    merch.
                </p>
                <a
                    target="_blank"
                    href="https://www.instagram.com/aleksifilms/"
                >
                    <InstagramLogoIcon size={24} />
                </a>
            </div>
            <div
                class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
            >
                <Image
                    src="/pfps/ben.png"
                    alt="Ben Moulse"
                    width={128}
                    height={128}
                    quality={80}
                    format="webp"
                    class="rounded-full size-96 border border-stroke"
                />
                <h3 class="text-h3">Ben Moulse</h3>
                <h4 class="text-h4">Graphic designer</h4>
                <p class="text-body">
                    Ben creates the brand identity and assists with the
                    marketing of the project.
                </p>
                <div class="flex flex-wrap items-center gap-12">
                    <a
                        target="_blank"
                        href="https://www.linkedin.com/in/ben-moulse/"
                    >
                        <LinkedinLogoIcon size={24} />
                    </a>
                    <a target="_blank" href="https://www.behance.net/Moulse">
                        <BehanceLogoIcon size={24} />
                    </a>
                </div>
            </div>
            <div
                class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
            >
                <Image
                    src="/pfps/jacob.png"
                    alt="Jacob Ehlert"
                    width={128}
                    height={128}
                    quality={80}
                    format="webp"
                    class="rounded-full size-96 border border-stroke"
                />
                <h3 class="text-h3">Jacob Ehlert</h3>
                <h4 class="text-h4">UI designer & front-end dev</h4>
                <p class="text-body">
                    Jacob designs the UI for the app and website and contributes
                    to front-end development.
                </p>
                <div class="flex flex-wrap items-center gap-12">
                    <a
                        target="_blank"
                        href="https://bento.me/dukc"
                        target="_blank"
                    >
                        <Button variant="secondary" size="compact">
                            Website
                        </Button>
                    </a>
                    <a
                        target="_blank"
                        href="https://github.com/dukcc"
                        target="_blank"
                    >
                        <GithubLogoIcon size={24} />
                    </a>
                    <a
                        target="_blank"
                        href="https://www.instagram.com/dukkcc0"
                        target="_blank"
                    >
                        <InstagramLogoIcon size={24} />
                    </a>
                </div>
            </div>
            <div
                class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
            >
                <Image
                    src="/pfps/trevor.png"
                    alt="Trevor Schachner"
                    width={128}
                    height={128}
                    quality={80}
                    format="webp"
                    class="rounded-full size-96 border border-stroke"
                />
                <h3 class="text-h3">Trevor Schachner</h3>
                <h4 class="text-h4">Product manager</h4>
                <p class="text-body">
                    Trevor is a product manager, designer, teacher, and
                    co-founder of Bright Designs, working with many bands.
                </p>
                <div class="flex flex-wrap items-center gap-12">
                    <a target="_blank" href="https://www.brightdesigns.band">
                        <Button variant="secondary" size="compact">
                            Bright Designs
                        </Button>
                    </a>
                </div>
            </div>
            <div
                class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
            >
                <Image
                    src="/pfps/mark.png"
                    alt="Mark Shelton"
                    width={128}
                    height={128}
                    quality={80}
                    format="webp"
                    class="rounded-full size-96 border border-stroke"
                />
                <h3 class="text-h3">Mark Shelton</h3>
                <h4 class="text-h4">Product research</h4>
            </div>
            <div
                class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
            >
                <Image
                    src="/pfps/john.png"
                    alt="John Bostick"
                    width={128}
                    height={128}
                    quality={80}
                    format="webp"
                    class="rounded-full size-96 border border-stroke"
                />
                <h3 class="text-h3">John Bostick</h3>
                <h4 class="text-h4">Front-end & back-end dev</h4>
                <p class="text-body">
                    John does both front-end and back-end development for
                    OpenMarch's app and website.
                </p>
                <div class="flex flex-wrap items-center gap-12">
                    <a target="_blank" href="https://johnbostick.com">
                        <Button variant="secondary" size="compact">
                            Website
                        </Button>
                    </a>
                    <a target="_blank" href="https://github.com/JohnBostick">
                        <GithubLogoIcon size={24} />
                    </a>
                    <a
                        target="_blank"
                        href="https://www.linkedin.com/in/john-bostick/"
                    >
                        <LinkedinLogoIcon size={24} />
                    </a>
                    <a
                        target="_blank"
                        href="https://www.youtube.com/@johnodondev"
                    >
                        <YoutubeLogoIcon size={24} />
                    </a>
                </div>
            </div>
        </div>
    </div>
</Layout>
