---
import Layout from "@/layouts/Layout.astro";
import { LogoOpenMarchText } from "@/components/Logos";
import Mission from "@/components/about/Mission.astro";
import Team from "@/components/about/Team.astro";
---

<Layout title="About">
    <LogoOpenMarchText
        width="300"
        height="168"
        className="motion-preset-slide-up-md"
    />

    <Mission />
    <Team />

    <div
        class="bg-accent absolute top-[10vh] -left-[0%] -z-50 size-[700px] -translate-x-1/2 rounded-full opacity-15 blur-[20vmin]"
    >
    </div>

    <div
        class="bg-accent absolute top-[100vh] -right-[40%] -z-50 size-[700px] -translate-x-1/2 rounded-full opacity-15 blur-[20vmin]"
    >
    </div>
    <div
        class="bg-accent absolute top-[200vh] left-[0%] -z-50 size-[700px] -translate-x-1/2 rounded-full opacity-15 blur-[20vmin]"
    >
    </div>
</Layout>
