---
import "@fontsource/dm-sans";
import "@fontsource/dm-mono";
import "@/styles/base.css";
import "@phosphor-icons/web/regular";

import Nav from "@/components/Nav";
import Footer from "@/components/Footer.astro";

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/favicon.png" type="image/png" />
        <title>{title} - OpenMarch</title>
    </head>
    <body class="overflow-x-hidden scroll-smooth bg-bg-1 text-text">
        <Nav />
        <slot />
        <Footer />
    </body>
</html>
