---
import { ThemeSwitcher } from "@openmarch/ui/astro";
import NewsletterForm from "./ui/NewsletterForm";
import { LogoOpenMarchText, LogoOpenMarchMarcher } from "./Logos";
import { Button } from "@openmarch/ui";

interface Props {
    hideDownloadCta?: boolean;
}

const { hideDownloadCta } = Astro.props;
---

<footer class="flex flex-col gap-8 z-50 w-full">
    {
        !hideDownloadCta && (
            <div class="flex flex-col gap-12 items-center rounded-6 px-16 py-32 download-cta-gradient">
                <LogoOpenMarchMarcher
                    width="24"
                    height="64"
                    className="text-accent"
                />
                <h2 class="text-h2 text-center max-[768px]:text-h3">
                    Download the modern drill writing app
                </h2>
                <a
                    href="/download"
                    class="text-body duration-150 ease-out hover:text-accent w-fit"
                >
                    <Button variant="primary">Download</Button>
                </a>
            </div>
        )
    }
    <footer
        class="grid grid-cols-4 gap-0 rounded-6 bg-fg-1 border border-stroke px-16 py-32 divide-x divide-stroke max-[1024px]:grid-cols-2 max-[768px]:grid-cols-1 max-[1024px]:divide-x-0 max-[1024px]:gap-32"
    >
        <div
            class="flex flex-col justify-between px-16 max-[1024px]:col-span-2 max-[768px]:col-span-1"
        >
            <div class="flex flex-col gap-24">
                <div class="flex justify-between w-full pr-4 gap-16">
                    <a href="/">
                        <LogoOpenMarchText height="64" width="115" />
                    </a>
                    <ThemeSwitcher />
                </div>
                <a
                    class="text-body leading-[150%] hover:text-accent duration-150 ease-out"
                    href="mailto:contact@openmarch.com"
                >
                    contact@openmarch.com
                </a>
            </div><div class="flex flex-col gap-8">
                <p class="text-body leading-[150%]">
                    Stay up to date with our newsletter!
                </p>
                <NewsletterForm client:visible />
            </div>
        </div>
        <div class="flex flex-col gap-16 px-16 max-[768px]:pt-32">
            <h4 class="text-h4">Support & follow us</h4>
            <a
                href="https://store.openmarch.com"
                target="_blank"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Merch
            </a>
            <a
                href="https://www.patreon.com/openmarch"
                target="_blank"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Patreon
            </a>
            <a
                href="https://discord.gg/eTsQ98uZzq"
                target="_blank"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Discord
            </a>
            <a
                href="https://www.instagram.com/openmarchapp/"
                target="_blank"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Instagram
            </a>
            <a
                href="https://facebook-group.openmarch.com"
                target="_blank"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Facebook Group
            </a>
            <a
                href="https://www.youtube.com/@OpenMarchApp"
                target="_blank"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                YouTube
            </a>
        </div>
        <div class="flex flex-col gap-16 px-16 max-[768px]:pt-32">
            <h4 class="text-h4">App</h4>
            <a
                href="/download"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Download
            </a>
            <a
                href="/#features"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Features
            </a>
            <a
                href="/download#releases"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Releases
            </a>
            <a
                href="/guides"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Guides
            </a>
            <a
                href="/about/submitting-feedback/"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Feedback
            </a>
            <a
                href="https://github.com/OpenMarch"
                target="_blank"
                class="text-body duration-150 ease-out hover:text-accent"
            >
                GitHub
            </a>
        </div>
        <div class="flex flex-col gap-16 px-16 max-[768px]:pt-32">
            <h4 class="text-h4">Organization</h4>
            <a
                href="/about"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                About
            </a>
            <a
                href="/blog"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Blog
            </a>
            <a
                href="/privacy"
                class="text-body duration-150 ease-out hover:text-accent w-fit"
            >
                Privacy
            </a>
        </div>
    </footer>
</footer>
